{% form 'cart', cart %}
  <h1>cart</h1>

  {% if cart.empty? %}
    <p>Hey Yuor cart Is Empty</p>
  {% else %}
    <table id="customers">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
      {% for item in cart.items %}
        <tr>
          <td>
            <div style="height: 60px; width:60px;">

              <img src="{{ item.image | image_url }}" style="border-radius:100%" />
            </div>
          </td>
          <td>
            <h5>{{ item.title }}</h5>
          </td>
          <td>
            <p>{{ item.final_line_price | money }}</p>
          </td>
          <td>
            <div class="quantities">
              <input
                type="number"
                name="updates[]"
                value="{{ item.quantity }}"
                placeholder="Increase Quantity"
                class="quantity">
            </div>
          </td>
          <td>
            <a class="btnDelete" href="{{ item.url_to_remove }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>


    <hr>

    <p>Total: {{ cart.total_price | money }}</p>
    <button
      class="btnUpdate"
      type="submit"
      name="update">Update</button>
    <button
      class="btnCheckout"
      type="submit"
      name="checkout">Checkout</button>
  {% endif %}
{% endform %}