{% form 'cart', cart %}
  <h1>cart</h1>

  {% if cart.empty? %}
    <p>Hey Yuor cart Is Empty</p>
  {% else %}


    <div class="grid-1">

      {% for item in cart.items %}
        <div style="margin-bottom: 15px;">
          <div style="height: 250px; width:250px">

            <img src="{{ item.image | image_url }}" />
          </div>
          <h4>{{ item.title }}</h4>
          <p>{{ item.final_line_price | money }}</p>
          <input
            type="number"
            name="updates[]"
            value="{{ item.quantity }}"
            placeholder="Increase Quantity">
          <a class="btnDelete" href="{{ item.url_to_remove }}">Delete</a>
        </div>
      {% endfor %}
    </div>
    <hr>

    <p>Total: {{ cart.total_price | money }}</p>
    <button
      class="btnUpdate"
      type="submit"
      name="update">Update</button>
    <button
      class="btnCheckout"
      type="submit"
      name="checkout">Checkout</button>
  {% endif %}
{% endform %}